<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false" version="3.0">
  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.uranos.ContactApp</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/app/*</url-pattern>
  </servlet-mapping>
  <listener>
  	<listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
  </listener>
  
  <!-- Définition du filtre -->
	<filter>
	  <filter-name>CORS</filter-name>
	  <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
	  <!-- Domaines autorisés, séparés par des virgules, par ex. : <param-value>http://perdu.com http://something.com</param-value> -->
	  <init-param>
	    <param-name>cors.allowOrigin</param-name>
	    <param-value>*</param-value>
	  </init-param>
	  <!-- Méthodes HTTP autorisées, configurées ici pour REST -->
	  <init-param>
	    <param-name>cors.supportedMethods</param-name>
	    <param-value>GET, POST, HEAD, PUT, DELETE</param-value>
	  </init-param>
	</filter>
	<!-- Associe le filtre CORS au servlet JAXServlet -->
	<filter-mapping>
	  <filter-name>CORS</filter-name>
	  <servlet-name>Resteasy</servlet-name>
	</filter-mapping>
	<!-- Associes le filtre CORS aux URLs spécifiées, cet URL étant géré par le servlet -->
	<filter-mapping>
	  <filter-name>CORS</filter-name>
	  <url-pattern>/app/*</url-pattern>
	</filter-mapping>
</web-app>